body, html {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    background: linear-gradient(to right, rgb(98, 123, 193, .4), rgb(16, 121, 182, .7));
}

.nav_row {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 5% auto;
    font-size: 1.5em;
}

hr {
    margin: 0;
}

a {
    color: rgb(13, 0, 199);
    text-decoration: none;
}

input {
    margin-bottom: 3%;
    width: 70%;
    height: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    font-size: larger;
    align-items: center;
    height: 60%;
    max-width: 800px;
    margin: auto;
}

.results {
    width: 50%;
}

p {
    width: 70%;
}

#property_page {
    display: none;
}

@media only screen and (min-width: 600px) {

}